@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.WebUtilities
@{
    var returnUrl = ViewData["ReturnUrl"];
    var statusCode = ViewData["ErrorCode"] ?? 500;
    var message = ViewData["ErrorMessage"] ?? ReasonPhrases.GetReasonPhrase(500);
}
<div class="container-tight py-4">
    <div class="empty">
        <div class="empty-header"> @statusCode </div>
        <p class="empty-title">Oops… You just found an error page</p>
        <p class="empty-subtitle text-secondary">
            @message
        </p>

        <div class="empty-action">
            
            @if (returnUrl is not null)
            {
                <input type="hidden" value="@returnUrl" />
                <form method="post" asp-controller="Home" asp-action="Error" asp-route-returnUrl="@returnUrl" asp-antiforgery="true" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0"/><path d="M5 12l6 6"/><path d="M5 12l6 -6"/>
                    </svg>
                    <input type="submit" value="Go back."/>
                </form>
            }
            else
            {
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0"/><path d="M5 12l6 6"/><path d="M5 12l6 -6"/>
                    </svg>
                    Take me home
                </a>
            }


        </div>
    </div>
</div>

@section Scripts
{
    <script>
          document.addEventListener("DOMContentLoaded", function () {
            const body = document.getElementById("page-body");       
             body.classList.add('border-top-wide', 'border-primary', 'd-flex', 'flex-column');       
            const pageDiv = document.querySelector(".page");        
            pageDiv.classList.add("page-center");
          });
    </script>
}