@* @model LoginViewModel *@
@* <div class="col-md-12"> *@
@*     <div class="card card-primary"> *@
@*         <div class="card-header"> *@
@*             <h3 class="card-title">Login</h3> *@
@*         </div> *@
@*         <form asp-controller="Account" asp-action="Login"  *@
@*               asp-antiforgery="true"> *@
@*             <div class="card-body"> *@
@*                 <div class="form-group"> *@
@*                     <label asp-for="Email">Email</label> *@
@*                     <input type="email" class="form-control" asp-for="Email"> *@
@*                 </div> *@
@* *@
@*                 <div class="form-group"> *@
@*                     <label asp-for="Password">Password</label> *@
@*                     <input type="password" class="form-control" asp-for="Password"> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="card-footer"> *@
@*                 <button type="submit" class="btn btn-primary">Submit</button> *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@* </div> *@