@using DiscussionFleet.Infrastructure.Identity
@inject ApplicationSignInManager SignInManager

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    @await RenderSectionAsync("HeadMeta", required: false)

    <title>@ViewData["Title"] - DiscussionFleet</title>
    <link href="~/tabler/dist-files/css/tabler.min.css?1684106062" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <style>
      :root {
        --tblr-font-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }

      body {
        font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>

    @await RenderSectionAsync("HeadLinks", required: false)
    @await RenderSectionAsync("StyleSheets", required: false)
</head>


<body>
<div class="page">

    @if (SignInManager.IsSignedIn(User))
    {
        <partial name="_LoggedInNavBarPartial"/>
    }
    else
    {
        <partial name="_LoggedOutNavBarPartial"/>
    }

    @RenderBody()
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/tabler/dist-files/js/tabler.min.js?1684106062" defer></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>

</html>