@model PaginationViewModel;


@if (Model.TotalData is not 0)
{
    <div class="d-flex mt-4">
        <ul class="pagination ms-auto">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M15 6l-6 6l6 6"/>
                    </svg>
                    prev
                </a>
            </li>

            @for (var pageNumber = 1; pageNumber <= Model.PageNeeded; ++pageNumber)
            {
                <li class="page-item">
                    <a class="page-link" href="#">@pageNumber</a>
                </li>
            }


            <li class="page-item">
                <a class="page-link" href="#">
                    next
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M9 6l6 6l-6 6"/>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
}