@using DiscussionFleet.Application.Common.Providers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IQrCodeProvider Qr
@{
    ViewData["Title"] = "Home Page";
    var qr = await Qr.GenerateSvgStringAsync("Hello World", 300);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="text-center">
        @Html.Raw(qr)
    </div>

</div>

<partial name="_FooterPartial"/>